<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>COGselect</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>
    <nav>
        <a href="http://127.0.0.1:5000/">
            <img src="/static/images/logo.png" width="243.5px" height="66px"
                 id=logo alt="COGselect" style="margin-left: 10px;"/>
        </a>
        <a href="http://127.0.0.1:5000/help">
            <img src="/static/images/qmark.png" width="66px" height="66px"
                 id=help alt="Help" style="float: right; margin-right: 20px;"/>
        </a>
    </nav>
    <hr>

    <div class="content">
        {% block content %} {% endblock %}
    </div>

</body>
</html>
